@import url('https://fonts.googleapis.com/css?family=Open+Sans:400,600|Oswald:200,400,600,700&display=swap');

body {
  font-family: 'Open Sans', sans-serif;
}
.morado{
  background-color: #660066;
}
.oswald-bold{
  font-family: 'Oswald', sans-serif;
  font-weight: 700;
}
.oswald-light{
  font-family: 'Oswald', sans-serif;
  font-weight: 200;
}


.hero {
  background-image: url('../img/bg_hero.png');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: 100vh;
  min-height: 500px;
}

header{
  padding-top: 1em;
}

.text-hero{
  margin-bottom: -2em;
  position: absolute;
  font-size: 3em !important;
  bottom: 0px;
  right: 0px;
}
.hr-hero{
  border: 1px solid #ffffff;
  width: 20%;
}
p{
  line-height: 3em;
}
.hr-secciones{
  border: 1px solid #373A3C;
  width: 10%;
}
